{% extends "network/layout.html" %}

{% block body %}
    <div class="container mt-3">
        {% if user.is_authenticated %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2>Create a New Post</h2>
                    <form method="post" action="{% url 'create_post' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control custom-textarea" name="content" rows="4" placeholder="Type your post here"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
            </div>
        {% endif %}

        <h2>All Posts</h2>
        {% include "network/post_display.html" %}
    </div>
{% endblock %}
