{% extends "network/layout.html" %}

{% block body %}
    <div class="container mt-3">
        <h2>User Details</h2>
        <p>Username: {{ targetUser.username }}</p>
        <p>Email: {{ targetUser.email }}</p>

        <span>Followers - <b>{{ followers.count }}</b>
        Following - <b>{{ following.count }}</b>

        {% if user.username != targetUser.username and user.is_authenticated %}
            <form id="followForm" method="post" action="{% url 'toggle_follow' username=targetUser.username %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="{% if is_following %}unfollow{% else %}follow{% endif %}">
                <button type="submit" class="btn btn-primary">
                    {% if is_following %}Unfollow{% else %}Follow{% endif %}
                </button>
            </form>        
        {% endif %}
        </span>
        <h3>Posts</h3>
        {% include "network/post_display.html" %}
    </div>
{% endblock %}
