{% extends "network/layout.html" %}

{% block body %}
    <div class="container mt-3">
        <h2>User Details</h2>
        <p>Username: {{ targetUser.username }}</p>
        <p>Email: {{ targetUser.email }}</p>

        <h3>Followers - {{ followers.count }}</h3>
        <h3>Following - {{ following.count }}</h3>

        {% if user.username != targetUser.username and user.is_authenticated %}
            <form id="followForm" method="post" action="{% url 'toggle_follow' username=targetUser.username %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="{% if is_following %}unfollow{% else %}follow{% endif %}">
                <button type="submit" class="btn btn-primary">
                    {% if is_following %}Unfollow{% else %}Follow{% endif %}
                </button>
            </form>        
        {% endif %}

        <h3>Posts</h3>
        <ul>
            {% for post in pagecontent %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                        <small class="text-muted"><a href="{% url 'user_details' username=post.user.username %}">{{ post.user.username }}</a> - {{ post.created_at }}</small>
                        <div class="likes-section">
                            <span class="heart-icon">&#10084;
                            <span class="like-count">{{ post.likes.count }}</span></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </ul>
    </div>
{% endblock %}
